{{>partial_header}}

from {{packageName}}.version import VERSION
from setuptools import setup, find_packages  # noqa: H301

NAME = "{{{projectName}}}"
{{#apiInfo}}
{{#apis}}
{{#-last}}
# To install the library, run the following
#
# python setup.py install
#
# prerequisite: setuptools
# http://pypi.python.org/pypi/setuptools
{{#apiInfo}}
{{#apis}}
{{#-last}}
REQUIRES = [
    "urllib3 >= 1.25.3, < 2.1.0",
  "python-dateutil",
{{#asyncio}}
  "aiohttp >= 3.0.0",
    "aiohttp-retry >= 2.8.3",
{{/asyncio}}
{{#tornado}}
  "tornado>=4.2,<5",
{{/tornado}}
{{#hasHttpSignatureMethods}}
  "pem>=19.3.0",
  "pycryptodome>=3.9.0",
{{/hasHttpSignatureMethods}}
    "pydantic >= 2",
    "typing-extensions >= 4.7.1",
]

def readme():
	with open('README.md', encoding='utf-8') as f:
		return f.read()

setup(
    name=NAME,
    version=VERSION,
    description="{{appName}}",
    author="{{infoName}}{{^infoName}}OpenAPI Generator community{{/infoName}}",
    author_email="{{infoEmail}}{{^infoEmail}}team@openapitools.org{{/infoEmail}}",
    url="https://phoenixnap.com/bare-metal-cloud",
    keywords=["OpenAPI", "OpenAPI-Generator", "{{{appName}}}"],
    python_requires=">=3.7",
    install_requires=REQUIRES,
    packages=find_packages(exclude=["test", "tests"]),
    include_package_data=True,
    {{#licenseInfo}}license="{{.}}",
    {{/licenseInfo}}
    long_description_content_type="text/markdown",
    long_description=readme(),
    project_urls={
      'Repository': 'https://github.com/phoenixnap/python-sdk-bmc'
    }
)
{{/-last}}
{{/apis}}
{{/apiInfo}}
